.post-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 16px;
}

.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}

img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 5px;
}

.square-button{
  border-radius: 5px;
}
