@use "@angular/material" as mat;

@mixin theme($theme) {
  mat-card {
    background-image: linear-gradient(to top left, mat.get-theme-color($theme, primary-container), mat.get-theme-color($theme, inverse-primary));

  }
  .info-button {
    background-color: mat.get-theme-color($theme, primary);
    color: mat.get-theme-color($theme, on-primary);;
  }
}
