.breadcrumb {
  position: fixed;
  padding: 10px;
  z-index: 1000;
  display: flex;
  justify-content: start;
  gap: 15px;
}

.breadcrumb a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb a.active {
  text-decoration: underline;
}

.breadcrumb a:hover {
  text-decoration: underline;
}
