<mat-toolbar>
  @if (isHandset$ | async) {
    <button mat-icon-button (click)="drawer.toggle()" aria-label="toolbar icon-button with menu icon">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
  }
  @if (isDarkMode()) {
    <img src="images/brain_white.svg" height="28px" width="28px" alt="Foco Deporte logo">
  } @else {
    <img src="images/brain.svg" height="28px" width="28px" alt="Foco Deporte logo">
  }
  <span class="title">Focodeporte</span>
  <span class="toolbar-spacer"></span>
  @if (!(isHandset$ | async)) {
    <mat-nav-list>
      @for (item of rootRoutes; track $index) {
        <!-- To go to another route: --><!-- <mat-list-item class="horizontal-mat-list-item" [routerLink]="item.path" #link="routerLinkActive" routerLinkActive [activated]="link.isActive">-->
        <mat-list-item class="horizontal-mat-list-item" (click)="scrollToSection(item.data?.['elementRef'])" [activated]="checkActivated(item.data?.['elementRef'])">
          <mat-icon matListItemIcon>{{ item.data?.['icon'] }}</mat-icon>
          <div matListItemTitle>{{ item.title }}</div>
        </mat-list-item>
      }
      <mat-list-item class="horizontal-mat-list-item" (click)="toggleTheme()">
        <mat-icon matListItemIcon>{{ isDarkMode() ? 'brightness_1' : 'brightness_2' }}</mat-icon>
        <div matListItemTitle>Tema</div>
      </mat-list-item>
    </mat-nav-list>
  }
</mat-toolbar>
