@use "@angular/material" as mat;

@mixin theme($theme) {
  mat-sidenav {
    background-color: mat.get-theme-color($theme, primary);
    color: mat.get-theme-color($theme, surface);
  }
  mat-toolbar {
    color: mat.get-theme-color($theme, surface);
    background-color: mat.get-theme-color($theme, primary);
  }
  .toolbar-container{
    background-color: mat.get-theme-color($theme, primary);
  }
  .mat-mdc-nav-list .mat-mdc-list-item.mdc-list-item--activated {
    background-color: mat.get-theme-color($theme, inverse-primary);
  }
  .matListItemTitle {
    color: mat.get-theme-color($theme, surface);
  }
  .toggle-button {
    color: mat.get-theme-color($theme, surface);
  }
  .main-content-container{
    background-color: mat.get-theme-color($theme, surface-container);
  }
  .main-content {
    background-color: mat.get-theme-color($theme, surface);
  }
}
