<home-breadcrumb />

<section id="home" #home class="hero-section" appSectionObserver (sectionChange)="onSectionChange($event)">
  <img src="images/focodeporte.png" alt="Logo de Foco Deporte" class="main-image">
    <mat-icon (click)="scrollToServicesSection()" class="icon-display" aria-label="Next section">expand_more</mat-icon>
</section>

<section class="home-main-content">
  <div id="services" #services appSectionObserver (sectionChange)="onSectionChange($event)">
    <home-services />
  </div>
  <!-- TODO: Posts
  <div id="posts" #posts appSectionObserver (sectionChange)="onSectionChange($event)">
    <home-posts />
  </div> -->

  <!-- TODO: Instagram
  <div id="instagram" #instagram appSectionObserver (sectionChange)="onSectionChange($event)">
    <home-instagram />
  </div> -->
</section>



