<div class="posts-container">

  <mat-toolbar>
    <mat-icon>description</mat-icon>
    <span>Últimas publicaciones</span>
    <span class="toolbar-spacer"></span>
    <button mat-button aria-label="Example icon-button with heart icon">
      <mat-icon>note_add</mat-icon>
      Añadir post
    </button>
    <button mat-button aria-label="Example icon-button with share icon">
      <mat-icon>my_library_books</mat-icon>
      Ver más
    </button>
  </mat-toolbar>

  <div class="posts-content">
    <mat-card appearance="outlined">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-stroked-button class="square-button">
          <mat-icon>info</mat-icon>
          Leer más
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card appearance="outlined">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-stroked-button class="square-button">
          <mat-icon>info</mat-icon>
          Leer más
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card appearance="outlined">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button mat-stroked-button class="square-button">
          <mat-icon>info</mat-icon>
          Leer más
        </button>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
