@use "@angular/material" as mat;
@use "./app/layout/layout-component.theme";
@use "./app/pages/home/home-component.theme";
@use "../m3-theme";

@include mat.core();

$theme: m3-theme.$light-theme;
$dark-theme: m3-theme.$dark-theme;

:root {
  @include mat.all-component-themes($theme);
  @include layout-component.theme($theme);
  @include home-component.theme($theme);
  @include mat.color-variants-backwards-compatibility($theme);

  @media (prefers-color-scheme: light) {
    @include mat.all-component-colors($dark-theme);
    @include layout-component.theme($theme);
    @include home-component.theme($theme);
    @include mat.color-variants-backwards-compatibility($dark-theme);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
