@use "@angular/material" as mat;
@use "./app/layout/layout-component.theme";
@use "./app/pages/home/home-component.theme";
@use "./app/pages/about-me/about-me-component.theme";
@use "../m3-theme";

@include mat.core();

$light-theme: m3-theme.$light-theme;
$dark-theme: m3-theme.$dark-theme;

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include layout-component.theme($light-theme);
  @include home-component.theme($light-theme);
  @include about-me-component.theme($light-theme);
  @include mat.color-variants-backwards-compatibility($light-theme);
}

.dark-theme {
  @include mat.all-component-themes($dark-theme);
  @include layout-component.theme($dark-theme);
  @include home-component.theme($dark-theme);
  @include about-me-component.theme($dark-theme);
  @include mat.color-variants-backwards-compatibility($dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
